/* #mapid {
  height: 180px;
} */
/*
.md-app {
    height: calc(100vh);


  }

  .md-drawer {
    width: 180px;

    height: 100% !important;
  }

.md-app-content{
    margin: 0px;
    padding: 0px;
}

.mapa_okno {
  height: 100%; display: block;

} */

/* #interactive_map {
  height: 100%;
}

.leaflet-tile-container {
  height: 100%; display: block;
} */
